{% extends 'base.html' %}

{% block content %}

<!-- contact-section -->
<section class="contact-section" style="background-image: url({{assets_images}}/background/softwere-product-bg.png); background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-12 col-sm-12 offset-lg-1 big-column">
                <div class="contact-form-area">
                    <div class="sec-title center"><h2>Change Password</h2></div>
                    <div class="form-inner">
                        <form method="post" action="" id="contact-form" class="default-form"> 
                            {% csrf_token %}
                            <div class="row">
                                {% if form.non_field_errors %}
                                    {% for error in form.non_field_errors %}
                                        <label id="username-error" class="error" for="">{{error}}</label>
                                    {% endfor %}
                                {% endif %}
                                {% if messages %}
                                <div class="col-lg-12 col-md-12 col-sm-12 column">
                                    <div class="form-group">
                                        {% for message in messages %}
                                            <p class="text-center">{{message}}</p>
                                        {% endfor %}
                                    </div>
                                </div>
                                {% endif %}
                                <div class="col-lg-12 col-md-12 col-sm-12 column">
                                    <div class="form-group">
                                        <i class="fas fa-lock"></i>
                                        {{form.old_password}}
                                        {% if form.old_password.errors %}
                                            <label id="username-error" class="error" for="">{{form.old_password.errors}}</label>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 column">
                                    <div class="form-group">
                                        <i class="fas fa-lock"></i>
                                        {{form.new_password1}}
                                        {% if form.new_password1.errors %}
                                            <label id="username-error" class="error" for="">{{form.new_password1.errors}}</label>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 column">
                                    <div class="form-group">
                                        <i class="fas fa-lock"></i>
                                        {{form.new_password2}}
                                        {% if form.new_password2.errors %}
                                            <label id="username-error" class="error" for="">{{form.new_password2.errors}}</label>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 column">
                                    <div class="row">
                                        <div class="col-2">
                                            <div class="form-group message-btn centred">
                                                <button type="submit" class="theme-btn-two" name="submit-form">Save</button>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="form-group message-btn centred">
                                                <a href="/" type="button" class="theme-btn-three theme-btn-border">Cancle</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- contact-section end -->

{% endblock %}