{% load static %}
{% static 'images' as assets_images %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="title" content="{{sitedata.meta_title}}">
<meta name="description" content="{{sitedata.meta_description}}">
<meta name="keywords" content="{{sitedata.meta_tags}}">
<title>{{sitedata.title}}</title>

<!-- Fav Icon -->
<link rel="icon" href="{{sitedata.favicon.url}}" type="image/x-icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

<!-- Stylesheets -->
<link href="{% static 'css/font-awesome-all.css'%}" rel="stylesheet">
<link href="{% static 'css/flaticon.css'%}" rel="stylesheet">
<link href="{% static 'css/owl.css'%}" rel="stylesheet">
<link href="{% static 'css/bootstrap.css'%}" rel="stylesheet">
<link href="{% static 'css/jquery.fancybox.min.css'%}" rel="stylesheet">
<link href="{% static 'css/animate.css'%}" rel="stylesheet">
<link href="{% static 'css/imagebg.css'%}" rel="stylesheet">
<link href="{% static 'css/style.css'%}" rel="stylesheet">
<link href="{% static 'css/responsive.css'%}" rel="stylesheet">
<!-- Stylesheets -->
</head>


<!-- page wrapper -->
<body class="boxed_wrapper">
    <!-- preloader -->
    <div class="preloader"></div>
    <!-- preloader -->


<!-- contact-section -->
<section class="contact-section" style="background-image: url({{assets_images}}/background/softwere-product-bg.png); background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-12 col-sm-12 offset-lg-1 big-column">
                <div class="contact-form-area">
                    <div class="sec-title center"><h2>Your new password has been set. Now you can login with your newly entered password.</h2></div>
                    <div class="form-group message-btn centred">
                        <a href="{% url 'account-login' %}" type="button" class="theme-btn-three theme-btn-border">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- contact-section end -->

<!--Scroll to top-->
<button class="scroll-top scroll-to-target" data-target="html">
    <span class="fa fa-arrow-up"></span>
</button>



<!-- jequery plugins -->
<script src="{% static 'js/jquery.js'%}"></script>
<script src="{% static 'js/popper.min.js'%}"></script>
<script src="{% static 'js/bootstrap.min.js'%}"></script>
<script src="{% static 'js/owl.js'%}"></script>
<script src="{% static 'js/wow.js'%}"></script>
<script src="{% static 'js/validation.js'%}"></script>
<script src="{% static 'js/jquery.fancybox.js'%}"></script>
<script src="{% static 'js/appear.js'%}"></script>
<script src="{% static 'js/scrollbar.js'%}"></script>
<script src="{% static 'js/tilt.jquery.js'%}"></script>

<!-- main-js -->
<script src="{% static 'js/script.js'%}"></script>

</body><!-- End of .page_wrapper -->
</html>

